ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}
body a {
  text-decoration: none;
}

.list {
  list-style: none;
}

header {
  border-bottom: 1px solid #ececec;
}

.main-style {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: #212121;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-style {
  color: #2196f3;
}
.logo--white {
  color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section__title--hidden {
  display: none;
}
.section:nth-child(2) {
  padding-bottom: 47px;
}
.section:nth-child(3) {
  padding-top: 47px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}
.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}
.modal__title {
  display: block;
  width: 418px;
  margin: 40px auto 30px auto;
  font-size: 20px;
  color: #212121;
}

.form {
  margin: 0 40px;
}
.form__field {
  position: relative;
  margin-bottom: 28px;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: translate(-42px, -40px);
}
.form__label-comment {
  position: absolute;
  top: 15%;
  left: 18px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-comment:focus + .form__label-comment, .form__input-comment:not(:placeholder-shown) + .form__label-comment {
  transform: translate(-18px, -40px);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.form__input:focus ~ .form__icon {
  fill: #2196f3;
}
.form__input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__input-comment:focus {
  border-color: #2196f3;
  outline: none;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__input:focus {
  border-color: #2196f3;
  outline: none;
}
.form__checkbox-policy {
  display: block;
  width: 403px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.form__checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.form__policy {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.form__policy a {
  margin-left: 3px;
  color: #2196f3;
  text-decoration: underline;
}
.form__custom-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__checkbox:checked + .form__custom-checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/form-checkbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover {
  background-color: #2196f3;
}
.social-list__item {
  margin-right: 10px;
}
.social-list__item:last-child {
  margin-right: 0px;
}
.social-list__icon {
  fill: #ffffff;
}
.teammate .social-list__link:hover .social-list__icon {
  fill: #ffffff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.87;
  color: #ffffff;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button--centered {
  margin: 0 auto;
}
.button svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.subscribe {
  width: 570px;
  margin-left: 93px;
}
.subscribe__form {
  display: flex;
  align-items: flex-end;
}
.subscribe__icon {
  display: inline-flex;
  margin-left: 10px;
}
.subscribe__label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 0.85;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.subscribe__input {
  padding-left: 16px;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:focus {
  border-color: #2196f3;
}

.page-header {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}
.navigation-list__item {
  position: relative;
}
.navigation-list__item + .navigation-list__item {
  margin-left: 50px;
}
.navigation-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196f3;
}
.navigation-list__link--active {
  display: flex;
  flex-direction: column;
  color: #2196f3;
}
.navigation-list__link--active::after {
  position: absolute;
  top: 77px;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
  background-color: #2196f3;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list__item {
  display: inline-flex;
}
.contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}
.contacts-list__link {
  display: inline-flex;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}
.contacts-list__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover .contacts-list__icon {
  fill: #2196f3;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features-list {
  display: flex;
}
.features-list__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}
.features-list__item:last-child {
  margin-right: 0;
}
.features-list__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-list__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features-list__icon {
  width: 70px;
  height: 70px;
}

.activity-list {
  display: flex;
}
.activity-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.activity-list__item:last-child {
  margin-right: 0;
}
.activity-list__card {
  position: relative;
}
.activity-list__card img {
  display: block;
}
.activity-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.activity-list__text p {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
}

.teammate {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.teammate__photo {
  display: block;
  width: 100%;
}
.teammate:last-child {
  margin-right: 0;
}
.teammate__info {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 16px;
}
.teammate__name {
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teammate__post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teammate .social-list {
  margin-bottom: 30px;
}
.teammate .social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list {
  display: flex;
  justify-content: space-between;
}
.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover {
  border-color: #2196f3;
}
.client-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover .client-list__icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer .address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .address__link {
  color: #ffffff;
}
.footer .address__contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer .address__item {
  margin-bottom: 9px;
}
.footer .address__item:last-child {
  margin-bottom: 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer__social-container {
  display: block;
  margin-left: 70px;
}
.footer__social-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */