/* -----------------root--------------- */
:root {
  --main-text-color: #757575;
  --heading-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --accent-bcg-color: #2f303a;
  --primary-white: #ffffff;
  --icon-color: #afb1b8;
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, cursive;
  --timing-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-white);
  color: var(--main-text-color);
  font-family: var(--main-font);
}
body a {
  text-decoration: none;
}
.list {
  list-style: none;
}
header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------logo------------- */
.logo {
    color: var(--heading-color);
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-style {
  color: var(--accent-color);
}
/* ----------------header(шапка)-------------- */
.page-header {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  margin-left: 93px;
}
.navigation__list .navigation__item + .navigation__item {
  margin-left: 50px;
}
.navigation__list .navigation__item {
  position: relative;
}
.navigation__list .navigation__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--heading-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--timing-animation);
}
.navigation__list .navigation__link:hover,
.navigation__list .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__list .navigation__link--active {
  display: flex;
  flex-direction: column;

  color: var(--accent-color);
}
.navigation__link--active::after {
  position: absolute;
  top: 76px;

  display: inline-block;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  content: '';
  background-color: var(--accent-color);
}
.contacts {
  display: flex;

  margin-left: auto;
}
.contacts .contacts__item {
  display: inline-flex;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__link {
  display: inline-flex;

  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;

  transition: color var(--timing-animation);
}
.contacts__link svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  transition: fill var(--timing-animation);
}
.contacts__link:hover svg {
  fill: var(--accent-color);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
/* -----------------hero------------------ */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accent-bcg-color);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  color: var(--primary-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button--centered{
    margin: 0 auto;
}

/* ------------backdrop and modal---------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
  transition: transform var(--timing-animation), opacity var(--timing-animation);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  transition: transform var(--timing-animation), opacity var(--timing-animation);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-animation), opacity var(--timing-animation);

  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #ffffff;
  cursor: pointer;
}
.modal__close-button svg {
  width: 18px;
  height: 18px;
  transition: fill var(--timing-animation);
}
.modal__close-button:hover svg,
.modal__close-button:focus svg {
  fill: var(--accent-color);
}
.modal__title {
  display: block;
  width: 418px;
  margin: 40px auto 30px auto;

  font-size: 20px;
  color: var(--heading-color);
}
.form {
  margin: 0 40px;
}
.form__field {
  position: relative;

  margin-bottom: 28px;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform var(--timing-animation);
}
.form__label-comment {
  position: absolute;
  top: 15%;
  left: 18px;
  transform: translateY(-50%);
  transition: transform var(--timing-animation);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.form__input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__checkbox-policy {
  display: block;
  width: 403px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.form__checkbox{
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.form__policy {
  display: flex;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
}
.form__policy a {
  margin-left: 3px;
  color: var(--accent-color);
  text-decoration: underline;
}
.form__custom-checkbox{
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__checkbox:checked + .form__custom-checkbox{
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/form-checkbox.svg);
  background-size: contain;
  background-origin: border-box;
}
.form__input:focus,
.form__input-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form__input:focus ~ .form-icon {
  fill: var(--accent-color);
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translate(-42px, -40px);
}
.form__input-comment:focus + .form__label-comment,
.form__input-comment:not(:placeholder-shown) + .form__label-comment {
  transform: translate(-18px, -40px);
}

/* -------------main------------------- */
.main-style {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ----------------sections(секции)----------------- */
.section__title {
  margin-bottom: 50px;

  color: var(--heading-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section__title--hidden {
  display: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(2) {
  padding-bottom: 47px;
}
.section:nth-child(3) {
  padding-top: 47px;
}
/* ---------------features(особенности)-------------- */
.features__list {
  display: flex;
}
.features__list .features__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}
.features__list .features__item:last-child {
  margin-right: 0;
}
.features__list .features__title {
  margin-bottom: 10px;

  color: var(--heading-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__list .features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}
.features__icon {
  width: 70px;
  height: 70px;
}
/* ------activity(чем мы занимаемся)------- */
.activity__list {
  display: flex;
}
.activity__list .activity__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.activity__list .activity__item:last-child {
  margin-right: 0;
}
.activity__card img {
  display: block;
}
.activity__card {
  position: relative;
}
.activity__card .activity__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  color: var(--primary-white);
  text-transform: uppercase;
  text-align: center;
}
.activity__text p {
  position: absolute;
  left: 50%;
  top: 50%;

  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* -----------team(наша команда)----------- */
.team__list {
  display: flex;
}
.team__list .teammate__photo {
  display: block;
  width: 100%;
}
.team__list .teammate {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__list .teammate:last-child {
  margin-right: 0;
}
.teammate__info {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 16px;
}
.team {
  background-color: var(--secondary-background-color);
}
.team .teammate__name {
  margin-bottom: 10px;

  color: var(--heading-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .teammate__post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teammate .social-list {
  margin-bottom: 30px;
}
.teammate .social-list__link svg {
  fill: var(--icon-color);

  transition: fill var(--timing-animation);
}
.teammate .social-list__link:hover svg {
  fill: var(--primary-white);
}
/* ------------Clients(Постоянные клиенты)------------- */
.client__list {
  display: flex;
  justify-content: space-between;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);

  transition: border-color var(--timing-animation);
}
.client__link:hover {
  border-color: var(--accent-color);
}
.client__link:hover .client__icon {
  fill: var(--accent-color);
}
.client__icon {
  width: 106px;
  height: 60px;

  fill: var(--icon-color);

  transition: fill var(--timing-animation);
}
/* --------------Портфолио(проекты)----------- */
/* ------------filter(фильтр)--------- */

.filter-list__button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  cursor: pointer;
  background-color: var(--secondary-background-color);
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: color var(--timing-animation), background-color var(--timing-animation);
}
.filter-list__button:hover,
.filter-list__button:focus {
  color: var(--primary-white);
  background-color: var(--accent-color);
}
.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-list__item {
  margin-right: 8px;
  border-radius: 4px;

  transition: box-shadow var(--timing-animation);
}
.filter-list__item:hover,
.filter-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list__item:last-child {
  margin-right: 0;
}
/* ----------------проекты---------------- */
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects .projects__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow var(--timing-animation);
}
.projects .projects__item:nth-child(3n) {
  margin-right: 0px;
}
.projects .projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.projects .projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__thumb {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.product__image {
  display: block;
  width: 100%;
}
.product {
  position: relative;
}
.product__cover {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--timing-animation);
  pointer-events: none;
}
.product:hover .product__overlay,
.product:focus .product__overlay {
  opacity: 1;
  transform: translate(0);
}
.product__cover .product__text {
  position: absolute;
  top: 50%;
  left: 50%;

  padding-left: 24px;
  padding-right: 24px;
  margin-right: -50%;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0;
  transition: opacity 500ms var(--timing-animation);
  transform: translate(-50%, -50%);
  color: var(--primary-white);
}
.product:hover .product__cover .product__text,
.product:focus .product__cover .product__text {
  opacity: 1;
}
.product__title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__description {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* ------------footer(подвал)------------- */
.logo--white{
  color: var(--primary-white);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bcg-color);
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer .address {
  color: var(--primary-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.address__link {
  color: var(--primary-white);
}
.address__contact {
  color: rgba(255, 255, 255, 0.6);
}
.address__list .address__item {
  margin-bottom: 9px;
}
.address__list .address__item:last-child {
  margin-bottom: 0;
}
.footer__social-container{
  display: block;
  margin-left: 70px;
}
.footer__social-title {
  color: var(--primary-white);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--timing-animation);
}
.social-list__link:hover {
  background-color: var(--accent-color);
}
.social-list .social-list__item {
  margin-right: 10px;
}
.social-list .social-list__item:last-child {
  margin-right: 0px;
}
.social-list__link svg {
  width: 20px;
  height: 20px;

  fill: var(--primary-white);
}


/* --------------subscribe form-------------- */
.subscribe{
  width: 570px;
  margin-left: 93px;
}
.subscribe__form{
  display: flex;
  align-items: flex-end;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.87;
  color: var(--primary-white);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.subscribe__icon{
display: inline-flex;
margin-left: 10px;
}
.button svg{
  width: 24px;
  height: 24px;
  fill: var(--primary-white);
}
.subscribe__label{
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 0.85;
  color: var(--primary-white);
  letter-spacing: 0.03em;
}
.subscribe__input{
  padding-left: 16px;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color var(--timing-animation);
}
.subscribe__input:focus{
  border-color: var(--accent-color);
}