.logo {
  color: $heading-color;
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &-style {
    color: $accent-color;
  }
  &--white {
    color: $primary-white;
  }
}
