.social-list {
  display: flex;
  justify-content: center;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color $timing-animation;
    &:hover {
      background-color: $accent-color;
    }
  }
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__icon {
    fill: $primary-white;
    .teammate .social-list__link:hover & {
      fill: $primary-white;
    }
  }
}
